.slide2__bg {
  position: fixed;
  top: 0;
  right: -28px;
  width: 116%;
  transform: rotateY(180deg);
}
.content-item__text {
  position: relative;
  border-radius: 50px 0 0 50px;
  background-color: #f6f6f6;
  cursor: pointer;
  height: 420px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0px 0px 50px 1px rgb(235, 235, 235);
  z-index: 1;
  div {
    margin-right: 50px;
    border-radius: 50px;
    background-color: white;
    padding: 20px 40px;
    cursor: pointer;
    height: 300%;
    font-size: 24px;
    line-height: 32px;
    box-shadow: 0px 0px 50px 1px rgb(235, 235, 235);
    letter-spacing: 1px;

    p {
      cursor: auto;
      transform: rotateY(180deg);
    }
    strong {
      font-family: 'Gilroy-bold';
    }
  }

  transform: rotateY(-180deg);

  &::-webkit-scrollbar {
    background-color: black;
    width: 20px;
  }
  &::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      #f6f6f6 0%,
      #f6f6f6 36%,
      rgb(0, 0, 0) 36%,
      rgb(0, 0, 0) 60%,
      rgb(0, 0, 0) 60%,
      #f6f6f6 60%,
      #f6f6f6 100%
    );
  }
  &::-webkit-scrollbar-thumb {
    background-color: palevioletred;
    border-radius: 7px;
  }
}
.slide2__img1 {
  width: 1150px;
  top: 130px;
  right: -500px;
  animation: move 5s;
}
.slide2__img1_anim {
  animation-name: slide2__img1_anim;
}
@keyframes slide2__img1_anim {
  from {
    opacity: 0;
    transform: translate(150px) translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.slide2__img2 {
  width: 300px;
  top: 90px;
  right: -45px;
  animation: move 10s;
}
.slide2__img2_anim {
  animation-name: slide2__img2_anim;
}
@keyframes slide2__img2_anim {
  from {
    opacity: 0;
    transform: translate(150px) translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
.slide2__img3 {
  width: 605px;
  top: 118px;
  right: -202px;
  animation: move 5s;
}
.slide2__img3_anim {
  animation-name: slide2__img3_anim;
}
@keyframes slide2__img3_anim {
  from {
    opacity: 0;
    transform: translate(150px) translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
.slide2__img4 {
  width: 450px;
  top: 451px;
  right: -339px;
  animation: move 5s;
}
.slide2__img4_anim {
  animation-name: slide2__img4_anim;
}
@keyframes slide2__img4_anim {
  from {
    opacity: 0;
    transform: translate(150px) translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
.slide2__img5 {
  width: 255px;
  top: 546px;
  right: -147px;
  animation: move 10s;
}
.slide2__img5_anim {
  animation-name: slide2__img5_anim;
}
@keyframes slide2__img5_anim {
  from {
    opacity: 0;
    transform: translate(150px) translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.slide2__button {
  cursor: pointer;
  position: absolute;
  bottom: 490px;
  right: 105px;
  margin-left: 50px;
  border-radius: 30px;
  width: 161px;
  height: 50px;
  background-color: rgb(247, 130, 169, 0.3);
  font-size: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0px;
  text-transform: none;
  padding: 18px;
}

.slide2__button_text {
  opacity: 1;
}
